{% extends 'base_content.html' %}

{% block navbar %}
{% if section and section.depth > 2 %}
<nav class="navbar navbar-expand-sm border-bottom" aria-label="breadcrumb" data-bs-theme="light">
    <div class="container-md justify-content-start">
        <ol class="breadcrumb my-auto">
            <li class="breadcrumb-item">
                <a href="{% url 'index_view' %}">Home</a>
            </li>

            {% for ancestor in section.get_ancestors %}
            {% if forloop.counter0 > 1 %}
            <li class="breadcrumb-item">
                <a href="{{ ancestor.get_absolute_url }}">{{ ancestor.label }}</a>
            </li>
            {% endif %}
            {% endfor %}

            <li class="breadcrumb-item active" aria-current="page">
                {{ section.label }}
            </li>
        </ol>
    </div>
</nav>
{% endif %}
{% endblock %}
