/* Fill custom CSS here */
body {
    background-color: #f7f5f0;
}

body.login-splash {
    background-color: #2C5F8A;
}

body .btn-uni-login {
    color: #2C5F8A;
}

.navbar {
    background-color: #ffffff;
}

.side-text {
    color: rgba(255, 255, 255, 0.55);
}

body.login-splash,
body.login-splash a,
body.login-splash .nav-link,
body.login-splash .nav-link:hover {
    color: white;
}

.navbar-brand .lang-ar,
.dabke-progress .card .card-title {
    color: rgb(44, 95, 138);
}

.float-box {
    display: none;
    pointer-events: none;
    position: absolute;
    min-width: 120px;
    height: 80px;
    transform: translate(0, 70%);
    top: 0;
    left: 0;
    color: white;
    font-weight: bold;
    padding: 5px;
}

#floating {
    position: absolute;
    padding: 0.5rem;
    color: white;
    box-sizing: border-box;

    --s: 50px; /* size of the corners */
    border: 8px solid #B38184;
    padding: 10px;
    height: 180px;
    width: 250px;
    background: rgba(242, 242, 242, 0.1) content-box;
    mask:
        conic-gradient(#000 0 0) content-box,
        conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
                      0 0/calc(100% - var(--s)) calc(100% - var(--s));

    z-index: 1;
}

.wrapped-word {
    cursor: pointer;
}

.lang-ar,
.wrapped-word,
.container>h1,
.container h3,
.table-of-contents {
    font-family: "Noto Naskh Arabic",system-ui,
                 -apple-system,"Segoe UI",Roboto,
                 "Helvetica Neue","Noto Sans",
                 "Liberation Sans",Arial,sans-serif,
                 "Apple Color Emoji","Segoe UI Emoji",
                 "Segoe UI Symbol","Noto Color Emoji";
}

.card .card-img-top {
    max-height: 300pt;
}
