/* Fill custom CSS here */
body {
    background-color: #edeae6;
}

.float-anchor {
    position: relative;
}

.float-box {
    display: none;
    position: absolute;
    min-width: 120px;
    height: 80px;
    transform: translate(0, 70%);
    top: 0;
    left: 0;
    color: white;
    font-weight: bold;
    padding: 5px;
}

#floating {
    position: fixed;
    width: 250px;
    height: 180px;
    overflow: hidden;
    pointer-events: none;

    transform: translate(-50%, -50%);

    border: 8px solid #B38184;
    background: rgba(242, 242, 242, 0.1);
}

#magnified {
    position: absolute;
    transform-origin: top left;
}

.wrapped-word {
    cursor: pointer;
}
