/* Fill custom CSS here */
body {
    background-color: #edeae6;
}

.float-box {
    display: none;
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-weight: bold;
    padding: 5px;
    font-size: 90%;
}

.wrapped-word {
    cursor: pointer;
}
