{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to Dabke{% endblock %}

{% block body-class %}login-splash{% endblock %}

{% block content %}
<div id="screen-splash" class="screen active text-center">
    <div class="splash-logo">
        <div class="fs-1 lang-ar">دبكة</div>
        <div class="fs-2">dabke</div>
        <div class="side-text">Arabic pronunciation coach</div>
    </div>
    <form class="text-center pt-4" method="get" action="{% url 'cas_ng_login' %}">
        <input type="hidden" name="next" value="{{ next|default:'/' }}" />

        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" class="btn btn-light btn-uni-login">
                <strong>UNI LOGIN</strong>
            </button>
        </div>
    </form>
</div>
{% endblock %}
