{% extends 'base_content.html' %}

{% block title %}مرحبا{% endblock %}

{% block content %}
<h1>مرحبا</h1>
<p>
    Welcome!
</p>
<p>
    {% if topics %}
    <ul class="list-group">
        {% for topic in topics %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <a class="link-dark" href="{{ topic.0.get_absolute_url }}">
                    {{ topic.0 }}
                </a>
                <p class="text-body-secondary">
                    <small>{{ topic.1 }}</small>
                </p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</p>
{% endblock %}
