{% extends 'base_content.html' %}

{% block title %}مرحبا{% endblock %}

{% block content %}
<h1>مرحبا</h1>
<p>
    Welcome!
</p>
<p>
    {% if topics %}
    <ul class="list-group">
        {% for child in topics %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">
                    <a href="{{ child.get_absolute_url }}">
                        {{ child }}
                    </a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</p>
{% endblock %}
