{% extends 'base_content.html' %}

{% block title %}My Progress{% endblock %}

{% block content %}
<div class="container dabke-progress">
    <div class="row text-center mt-2">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold">3</h5>
                    Complete
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold">4</h5>
                    In Progress
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fw-bold">3</h5>
                    Not Started
                </div>
            </div>
        </div>
    </div>

    <div class="text-body-secondary my-2">Exercises</div>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Ba</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">/b/</h6>
        </div>
    </div>
</div>
{% endblock %}
