{% extends 'base.html' %}
{% load static %}

{% block title %}Transcribe{% endblock %}

{% block content %}
<header>
    <h1>Transcribe</h1>
</header>

<section class="main-controls">
    <canvas class="visualizer" height="60px"></canvas>
    <div id="buttons">
        <button class="record">Record</button>
        <button class="stop">Stop</button>
    </div>
</section>

<section class="sound-clips">


</section>
{% endblock %}

{% block js %}
<script src="{% static 'js/src/app.js' %}"></script>
{% endblock %}
