{% extends 'base.html' %}
{% load static %}

{% block title %}Transcribe{% endblock %}

{% block content %}
<header>
    <h1>Transcribe</h1>
</header>

<section class="main-controls">
    <canvas class="visualizer" height="60px"></canvas>

    <textarea
        class="form-control mt-2"
        name="transcribe_text"
        title="Transcribe text">سيارة</textarea>

    <div id="buttons" class="mt-2">
        <button type="button" class="btn btn-primary record">Record</button>
        <button type="button" class="btn btn-secondary stop">Stop</button>
    </div>

    <hr />

    <div>
        Output:
    </div>

    <div class="d-flex flex-row">
        <div class="card me-2">
            <div class="card-body">
                <h5 class="card-title">AWS Transcribe</h5>
                <div class="card-text" id="transcription-result"></div>
            </div>
        </div>

        <div class="card flex-fill">
            <div class="card-body">
                <h5 class="card-title">Azure Speech</h5>
                <div class="card-text" id="azure-transcription-result">
                    <pre></pre>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sound-clips">


</section>
{% endblock %}

{% block js %}

{% csrf_token %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    {% if token and token.key %}
    const token = '{{ token.key }}';
    {% endif %}
</script>

<script type="module" src="{% static 's3sign/js/s3upload.js' %}"></script>
<script src="{% static 'js/src/websockets.js' %}"></script>
<script src="{% static 'js/src/app.js' %}"></script>
{% endblock %}
