<div class="text-body-secondary my-2">Base Letters</div>

<div class="text-center mb-2">
    <div class="row row-cols-2 g-2">
        {% for child in section.get_children %}
        <div class="col">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ child.label }}</h5>
                    <a class="stretched-link link-dark link-underline-opacity-0"
                       href="{{ child.get_absolute_url }}">
                        {{ child.label }}
                    </a>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
