{% load static %}

{% csrf_token %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    {% if token and token.key %}
    const token = '{{ token.key }}';
    {% endif %}
</script>

<script type="module" src="{% static 's3sign/js/s3upload.js' %}"
        crossorigin="anonymous"></script>

<script src="{% static 'js/src/Word.js' %}" type="module" crossorigin="anonymous"></script>
<script src="{% static 'js/src/playBlock.js' %}"
        type="module" crossorigin="anonymous"></script>
<script src="{% static 'js/src/websockets.js' %}"
        type="module" crossorigin="anonymous"></script>
<script src="{% static 'js/src/app.js' %}"
        crossorigin="anonymous"></script>
