<div class="container my-2">
    <div class="row">
        <div class="card main-controls p-2">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-body-secondary">
                    Say this word:
                </h6>

                <div class="d-flex justify-content-center gap-3">
                    <div class="text-center d-block mb-2">
                        <div class="dabke-text fs-3">{{ pageblock.initial_first }}</div>
                        <div class="dabke-ipa">{{ pageblock.initial_ipa_first }}</div>
                    </div>
                    <div>
                        <button class="btn btn-bd-primary dabke-word-play">
                            <i class="bi bi-play-fill"></i>
                        </button>
                    </div>
                </div>

                <div class="text-center">
                    <canvas class="visualizer inline" height="60"></canvas>

                    <div id="buttons">
                        <button type="button" class="btn btn-bd-primary record">
                            <i class="bi bi-record"></i> Record
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-grid gap-2">
    <button type="button" class="btn btn-bd-primary"
            id="dabke-review-next-button">
        Next: Review
    </button>
</div>
