<script>
    const popoverTriggerList = document.querySelectorAll(
        '[data-bs-toggle="popover"]');
    const popoverList = [...popoverTriggerList].map(
        popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl));

    $(document).ready(() => {
        const $audio = $('#absi-audio');

        if ($audio.length > 0) {
            $('input[name="radioVoice"]').on('change', (e) => {
                if (e.target && e.target.value) {
                    const voice = e.target.value;
                    $audio.find('source').each((i, source) => {
                        const src = source.src;
                        const url = new URL(src);

                        url.searchParams.set('voice', voice);

                        source.src = url;
                    });

                    // Reload audio
                    $audio[0].load();
                }
            });
        }
    });
</script>
