<div class="card my-2">
    <div class="card-body">
        <h5 class="card-title dabke-text">{{ pageblock.initial_first }}</h5>
        <p class="card-text">
            Your score:
            <span class="dabke-score fw-bold"></span>
            <span class="dabke-confidence"></span>
        </p>
    </div>
</div>

<div class="d-grid gap-2">
    {% with next_section=section.get_next %}
    {% if next_section %}
    <a role="button" class="btn btn-bd-primary"
       href="{{ next_section.get_absolute_url }}">
        Next syllable: {{ next_section.label }}
    </a>
    {% endif %}
    {% endwith %}
    <button type="button" class="btn btn-bd-secondary"
            id="dabke-listen-button">
        Try again
    </button>
</div>
