{% load markdownify text_filters %}

<div class="card mb-2">
    <div class="row g-0">
        <div class="col-10">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-body-secondary">Syllable</h6>
                <h5 class="card-title lang-ar" dir="rtl">{{ section.label|wrap_words }}</h5>
                <p class="card-text lang-ar" dir="rtl">
                    {{ section.label }}
                </p>
            </div>
        </div>

        <div class="col-2 d-flex justify-content-center align-items-center">
            <button class="btn btn-bd-primary dabke-syllable-play">
                <i class="bi bi-play-fill"></i>
            </button>
        </div>
    </div>
</div>

<div class="card mb-2">

    <div class="row g-0">
        <div class="col-10">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-body-secondary">Word examples</h6>

                <ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                            Initial
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                            Medial
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">
                            Final
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                        <div class="card-body">
                            {% if pageblock.initial %}
                            <h5 class="card-title lang-ar" dir="rtl">{{ pageblock.initial|wrap_words }}</h5>
                            {% endif %}
                            {% if pageblock.initial_ipa %}
                            <p class="card-text">{{ pageblock.initial_ipa }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                        <div class="card-body">
                            {% if pageblock.medial %}
                            <h5 class="card-title lang-ar" dir="rtl">{{ pageblock.medial|wrap_words }}</h5>
                            {% endif %}
                            {% if pageblock.medial_ipa %}
                            <p class="card-text">{{ pageblock.medial_ipa }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                        <div class="card-body">
                            {% if pageblock.final %}
                            <h5 class="card-title lang-ar" dir="rtl">{{ pageblock.final|wrap_words }}</h5>
                            {% endif %}
                            {% if pageblock.final_ipa %}
                            <p class="card-text">{{ pageblock.final_ipa }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2 d-flex justify-content-center align-items-center">
            <button class="btn btn-bd-primary text-end dabke-word-play">
                <i class="bi bi-play-fill"></i>
            </button>
        </div>
    </div>
</div>

<div class="float-box border border-5 border-danger">
</div>

<p class="fs-1 d-none" dir="rtl">
    <a href="#"
       class="fw-bold link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
       data-bs-toggle="popover"
       data-bs-title="Pronunciation"
       data-bs-content="Test my pronunciation">
        {{ pageblock.text | markdownify }}
    </a>
</p>

<span id="transcribe_text" class="d-none">
    {{ pageblock.text | markdownify }}
</span>

<div class="row align-items-start text-center">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle">
                    Position
                </h6>
                <h5 class="card-title">
                    Labial
                </h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle">
                    Mouth
                </h6>
                <h5 class="card-title">
                    Lips
                </h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle">
                    Sound
                </h6>
                <h5 class="card-title">
                    /a/
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="text-secondary text-end">Voice:</div>
<div class="d-flex gap-2 flex-row">
    <div class="col-lg"></div>
    <div class="col-md"></div>

    <div class="col text-end">
        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceShakir"
                   {% if voice == 'Shakir' %}
                   checked
                   {% endif %}
                   value="Shakir">
            <label class="form-check-label" for="radioVoiceShakir">
                Shakir <span class="text-secondary">(Egypt)</span>
            </label>
        </div>
        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceSalma"
                   {% if voice == 'Salma' %}
                   checked
                   {% endif %}
                   value="Salma">
            <label class="form-check-label" for="radioVoiceSalma">
                Salma <span class="text-secondary">(Egypt)</span>
            </label>
        </div>

        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceMouna"
                   {% if voice == 'Mouna' %}
                   checked
                   {% endif %}
                   value="Mouna">
            <label class="form-check-label" for="radioVoiceMouna">
                Mouna <span class="text-secondary">(Morocco)</span>
            </label>
        </div>
        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceJamal"
                   {% if voice == 'Jamal' %}
                   checked
                   {% endif %}
                   value="Jamal">
            <label class="form-check-label" for="radioVoiceJamal">
                Jamal <span class="text-secondary">(Morocco)</span>
            </label>
        </div>

    </div>

    <div class="col text-end">
        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceZariyah"
                   {% if not voice or voice == 'Zariyah' %}
                   checked
                   {% endif %}
                   value="Zariyah">
            <label class="form-check-label" for="radioVoiceZariyah">
                Zariyah <span class="text-secondary">(Saudi)</span>
            </label>
        </div>
        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceHamed"
                   {% if voice == 'Hamed' %}
                   checked
                   {% endif %}
                   value="Hamed">
            <label class="form-check-label" for="radioVoiceHamed">
                Hamed <span class="text-secondary">(Saudi)</span>
            </label>
        </div>

        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceHala"
                   {% if voice == 'Hala' %}
                   checked
                   {% endif %}
                   value="Hala">
            <label class="form-check-label" for="radioVoiceHala">
                <span class="lang-ar">هالة</span> Hala <span class="text-secondary">(Gulf - UAE)</span>
            </label>
        </div>
        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceZayd"
                   {% if voice == 'Zayd' %}
                   checked
                   {% endif %}
                   value="Zayd">
            <label class="form-check-label" for="radioVoiceZayd">
                <span class="lang-ar">زايد</span> Zayd <span class="text-secondary">(Gulf - UAE)</span>
            </label>
        </div>
    </div>

    <audio controls id="absi-audio" class="d-none">
        <source src="{% url 'audio-view' pageblock.pk %}"
                type="audio/ogg" />
        <source src="{% url 'audio-view' pageblock.pk %}?audio_format=mp3"
                type="audio/mpeg" />
    </audio>
</div>

<div class="d-grid gap-2">
    <button type="button"
            class="btn btn-bd-primary dabke-practice-next-button">
        Next: Practice
    </button>
</div>
