{% load static %}

{% csrf_token %}
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    {% if token and token.key %}
    const token = '{{ token.key }}';
    {% endif %}
</script>

<script type="module" src="{% static 's3sign/js/s3upload.js' %}"
        crossorigin="anonymous"></script>
<script src="{% static 'js/src/playBlock.js' %}"
        type="module" crossorigin="anonymous"></script>
<script src="{% static 'js/src/websockets.js' %}"
        crossorigin="anonymous"></script>
<script src="{% static 'js/src/app.js' %}"
        crossorigin="anonymous"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // https://getbootstrap.com/docs/5.3/getting-started/javascript/#sanitizer
        const myDefaultAllowList = bootstrap.Tooltip.Default.allowList;
        myDefaultAllowList.audio = ['controls'];

        // https://getbootstrap.com/docs/5.3/components/popovers/#enable-popovers
        const popoverTriggerList = document.querySelectorAll(
            '[data-bs-toggle="popover"]');
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => {
            new bootstrap.Popover(popoverTriggerEl, {
                allowList: myDefaultAllowList,
                html: true
            });
        });
        // Note: It's also possible to initialize the popovers with
        // jQuery instead:
        // $('[data-bs-toggle="popover"]').popover();

        const $audio = $('#absi-audio');

        if ($audio.length > 0) {
            $('input[name="radioVoice"]').on('change', (e) => {
                if (e.target && e.target.value) {
                    const voice = e.target.value;
                    $audio.find('source').each((i, source) => {
                        const src = source.src;
                        const url = new URL(src);

                        url.searchParams.set('voice', voice);

                        source.src = url;
                    });

                    // Reload audio
                    $audio[0].load();
                }
            });
        }
    });
</script>
