{% load markdownify %}

<div class="card mb-2">
    <div class="row g-0">
        <div class="col-10">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-body-secondary">Syllable</h6>
                <h5 class="card-title lang-ar" dir="rtl">{{ section.label }}</h5>
                <p class="card-text lang-ar" dir="rtl">
                    {{ section.label }}
                </p>
            </div>
        </div>

        <div class="col-2 d-flex justify-content-center align-items-center">
            <button class="btn btn-bd-primary dabke-syllable-play">
                <i class="bi bi-play-fill"></i>
            </button>
        </div>
    </div>
</div>

<div class="card mb-2">

    <div class="row g-0">
        <div class="col-10">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-body-secondary">Word examples</h6>

                <ul class="nav nav-tabs justify-content-center" id="word-example-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="initial-tab" data-bs-toggle="tab" data-bs-target="#initial-tab-pane" type="button" role="tab" aria-controls="initial-tab-pane" aria-selected="true">
                            Initial
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="medial-tab" data-bs-toggle="tab" data-bs-target="#medial-tab-pane" type="button" role="tab" aria-controls="medial-tab-pane" aria-selected="false">
                            Medial
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="final-tab" data-bs-toggle="tab" data-bs-target="#final-tab-pane" type="button" role="tab" aria-controls="final-tab-pane" aria-selected="false">
                            Final
                        </button>
                    </li>
                </ul>
                <div class="tab-content" id="listenTabContent">
                    <div class="tab-pane fade show active" id="initial-tab-pane" role="tabpanel" aria-labelledby="initial-tab" tabindex="0">
                        <div class="card-body">
                            {% if pageblock.initial %}
                            <div id="carouselInitial" class="carousel slide carousel-dark">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselInitial" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselInitial" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="text-center d-block w-100">
                                            <div class="dabke-text fs-3">{{ pageblock.initial_first }}</div>
                                            <div class="dabke-ipa">{{ pageblock.initial_ipa_first }}</div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="text-center">
                                            <div class="dabke-text fs-3">{{ pageblock.initial_second }}</div>
                                            <div class="dabke-ipa">{{ pageblock.initial_ipa_second }}</div>
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselInitial" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselInitial" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="medial-tab-pane" role="tabpanel" aria-labelledby="medial-tab" tabindex="0">
                        <div class="card-body">
                            {% if pageblock.medial %}
                            <div id="carouselMedial" class="carousel slide carousel-dark">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselMedial" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselMedial" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="text-center d-block w-100">
                                            <div class="dabke-text fs-3">{{ pageblock.medial_first }}</div>
                                            <div class="dabke-ipa">{{ pageblock.medial_ipa_first }}</div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="text-center">
                                            <div class="dabke-text fs-3">{{ pageblock.medial_second }}</div>
                                            <div class="dabke-ipa">{{ pageblock.medial_ipa_second }}</div>
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselMedial" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselMedial" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="final-tab-pane" role="tabpanel" aria-labelledby="final-tab" tabindex="0">
                        <div class="card-body">
                            {% if pageblock.final %}
                            <div id="carouselFinal" class="carousel slide carousel-dark">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselFinal" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselFinal" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="text-center d-block w-100">
                                            <div class="dabke-text fs-3">{{ pageblock.final_first }}</div>
                                            <div class="dabke-ipa">{{ pageblock.final_ipa_first }}</div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="text-center">
                                            <div class="dabke-text fs-3">{{ pageblock.final_second }}</div>
                                            <div class="dabke-ipa">{{ pageblock.final_ipa_second }}</div>
                                        </div>
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselFinal" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselFinal" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2 d-flex justify-content-center align-items-center">
            <button class="btn btn-bd-primary text-end dabke-word-play">
                <i class="bi bi-play-fill"></i>
            </button>
        </div>
    </div>
</div>

<p class="fs-1 d-none" dir="rtl">
    <a href="#"
       class="fw-bold link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
       data-bs-toggle="popover"
       data-bs-title="Pronunciation"
       data-bs-content="Test my pronunciation">
        {{ pageblock.text | markdownify }}
    </a>
</p>

<span id="transcribe_text" class="d-none">
    {{ pageblock.text | markdownify }}
</span>

<div class="text-secondary text-end">Voice:</div>
<div class="d-flex gap-2 flex-row">
    <div class="col-lg"></div>
    <div class="col-md"></div>

    <div class="col text-end">
        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceShakir"
                   {% if voice == 'Shakir' %}
                   checked
                   {% endif %}
                   value="Shakir">
            <label class="form-check-label" for="radioVoiceShakir">
                Shakir <span class="text-secondary">(Egypt)</span>
            </label>
        </div>
        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceSalma"
                   {% if voice == 'Salma' %}
                   checked
                   {% endif %}
                   value="Salma">
            <label class="form-check-label" for="radioVoiceSalma">
                Salma <span class="text-secondary">(Egypt)</span>
            </label>
        </div>

        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceMouna"
                   {% if voice == 'Mouna' %}
                   checked
                   {% endif %}
                   value="Mouna">
            <label class="form-check-label" for="radioVoiceMouna">
                Mouna <span class="text-secondary">(Morocco)</span>
            </label>
        </div>
        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceJamal"
                   {% if voice == 'Jamal' %}
                   checked
                   {% endif %}
                   value="Jamal">
            <label class="form-check-label" for="radioVoiceJamal">
                Jamal <span class="text-secondary">(Morocco)</span>
            </label>
        </div>

    </div>

    <div class="col text-end">
        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceZariyah"
                   {% if voice == 'Zariyah' %}
                   checked
                   {% endif %}
                   value="Zariyah">
            <label class="form-check-label" for="radioVoiceZariyah">
                Zariyah <span class="text-secondary">(Saudi)</span>
            </label>
        </div>
        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceHamed"
                   {% if voice == 'Hamed' %}
                   checked
                   {% endif %}
                   value="Hamed">
            <label class="form-check-label" for="radioVoiceHamed">
                Hamed <span class="text-secondary">(Saudi)</span>
            </label>
        </div>

        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceHala"
                   {% if not voice or voice == 'Hala' %}
                   checked
                   {% endif %}
                   value="Hala">
            <label class="form-check-label" for="radioVoiceHala">
                <span class="lang-ar">هالة</span> Hala <span class="text-secondary">(Gulf - UAE)</span>
            </label>
        </div>
        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceZayd"
                   {% if voice == 'Zayd' %}
                   checked
                   {% endif %}
                   value="Zayd">
            <label class="form-check-label" for="radioVoiceZayd">
                <span class="lang-ar">زايد</span> Zayd <span class="text-secondary">(Gulf - UAE)</span>
            </label>
        </div>
    </div>

    <audio controls id="absi-audio" class="d-none">
        <source src="{% url 'audio-view' pageblock.pk %}?voice={{ voice }}"
                type="audio/ogg" />
        <source src="{% url 'audio-view' pageblock.pk %}?audio_format=mp3&voice={{ voice }}"
                type="audio/mpeg" />
    </audio>
</div>

<div class="d-grid gap-2">
    <button type="button"
            class="btn btn-bd-primary dabke-practice-next-button">
        Next: Practice
    </button>
</div>
