{% load markdownify text_filters %}

<div class="card mb-2">
    <div class="row g-0">
        <div class="col-10">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-body-secondary">Syllable</h6>
                <h5 class="card-title lang-ar" dir="rtl">{{ section.label|wrap_words }}</h5>
                <p class="card-text lang-ar" dir="rtl">
                    {{ section.label }}
                </p>
            </div>
        </div>

        <div class="col-2 d-flex justify-content-center align-items-center">
            <button class="btn btn-bd-primary dabke-syllable-play">
                <i class="bi bi-play-fill"></i>
            </button>
        </div>
    </div>
</div>

<div class="card mb-2">

    <div class="row g-0">
        <div class="col-10">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-body-secondary">Word example</h6>

                {% if pageblock.initial %}
                <h5 class="card-title lang-ar" dir="rtl">{{ pageblock.initial|wrap_words }}</h5>
                {% endif %}

                {% if pageblock.medial %}
                <h5 class="card-title lang-ar" dir="rtl">{{ pageblock.medial|wrap_words }}</h5>
                {% endif %}

                {% if pageblock.final %}
                <h5 class="card-title lang-ar" dir="rtl">{{ pageblock.final|wrap_words }}</h5>
                {% endif %}
            </div>
        </div>

        <div class="col-2 d-flex justify-content-center align-items-center">
            <button class="btn btn-bd-primary text-end dabke-word-play">
                <i class="bi bi-play-fill"></i>
            </button>
        </div>
    </div>
</div>

<div class="float-box border border-5 border-danger">
</div>

<p class="fs-1 d-none" dir="rtl">
    <a href="#"
       class="fw-bold link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
       data-bs-toggle="popover"
       data-bs-title="Pronunciation"
       data-bs-content="Test my pronunciation">
        {{ pageblock.text | markdownify }}
    </a>
</p>

<span id="transcribe_text" class="d-none">
    {{ pageblock.text | markdownify }}
</span>

<div class="row align-items-start text-center">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle">
                    Position
                </h6>
                <h5 class="card-title">
                    Labial
                </h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle">
                    Mouth
                </h6>
                <h5 class="card-title">
                    Lips
                </h5>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h6 class="card-subtitle">
                    Sound
                </h6>
                <h5 class="card-title">
                    /a/
                </h5>
            </div>
        </div>
    </div>
</div>

<div class="d-flex gap-2 flex-row">
    <div class="col text-end">
        <span class="text-secondary">Voice:</span>
        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceZariyah"
                   value="Zariyah" checked>
            <label class="form-check-label" for="radioVoiceZariyah">
                Zariyah <span class="text-secondary">(Saudi)</span>
            </label>
        </div>
        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceHamed"
                   value="Hamed">
            <label class="form-check-label" for="radioVoiceHamed">
                Hamed <span class="text-secondary">(Saudi)</span>
            </label>
        </div>
        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceHala" value="Hala">
            <label class="form-check-label" for="radioVoiceHala">
                <span class="lang-ar">هالة</span> Hala <span class="text-secondary">(Gulf - UAE)</span>
            </label>
        </div>
        <div class="form-check form-check-reverse">
            <input class="form-check-input" type="radio"
                   name="radioVoice" id="radioVoiceZayd" value="Zayd">
            <label class="form-check-label" for="radioVoiceZayd">
                <span class="lang-ar">زايد</span> Zayd <span class="text-secondary">(Gulf - UAE)</span>
            </label>
        </div>
    </div>
    <audio controls id="absi-audio" class="d-none">
        <source src="{% url 'audio-view' pageblock.pk %}"
                type="audio/ogg" />
        <source src="{% url 'audio-view' pageblock.pk %}?audio_format=mp3"
                type="audio/mpeg" />
    </audio>
</div>

<div class="d-grid gap-2">
    <button type="button"
            class="btn btn-bd-primary dabke-practice-next-button">
        Next: Practice
    </button>
</div>
