{% load markdownify %}

<p class="fs-1">
    <a href="#"
       class="fw-bold link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
       data-bs-toggle="popover"
       data-bs-title="Pronunciation"
       data-bs-content="Test my pronunciation">
        {{ pageblock.text | markdownify }}
    </a>
</p>

<span id="transcribe_text" class="d-none">
    {{ pageblock.text | markdownify }}
</span>

<audio controls id="absi-audio">
    <source src="{% url 'polly-audio' pageblock.text %}"
            type="audio/ogg" />
    <source src="{% url 'polly-audio' pageblock.text %}?audio_format=mp3"
            type="audio/mpeg" />
</audio>

<div class="float-end">
    Voice:
    <div class="form-check">
        <input class="form-check-input" type="radio"
               name="radioVoice" id="radioVoiceHala" value="Hala" checked>
        <label class="form-check-label" for="radioVoiceHala">
            هالة (Hala)
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio"
               name="radioVoice" id="radioVoiceZayd" value="Zayd">
        <label class="form-check-label" for="radioVoiceZayd">
            زايد (Zayd)
        </label>
    </div>
</div>

<div class="container my-2">
    <div class="row">
        <div class="col-6">
            <div class="main-controls p-2 border border-dark rounded">
                Assess my pronunciation:
                <canvas class="visualizer inline" height="60"></canvas>

                <div id="buttons">
                    <button type="button" class="btn btn-primary record">
                        <i class="bi bi-record"></i> Record
                    </button>
                    <button type="button" class="btn btn-secondary stop">
                        <i class="bi bi-stop"></i> Stop
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
