{% load markdownify text_filters %}

<ul class="nav nav-pills nav-fill mb-2" id="play-tabs" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="listen-tab" data-bs-toggle="tab" data-bs-target="#listen-tab-pane" type="button" role="tab"
                aria-controls="listen-tab-pane" aria-selected="true">
            Listen
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="practice-tab" data-bs-toggle="tab" data-bs-target="#practice-tab-pane" type="button" role="tab"
                aria-controls="practice-tab-pane" aria-selected="false">
            Practice
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review-tab-pane" type="button" role="tab"
                aria-controls="review-tab-pane" aria-selected="false">
            Review
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="assess-tab" data-bs-toggle="tab" data-bs-target="#assess-tab-pane" type="button" role="tab"
                aria-controls="assess-tab-pane" aria-selected="false">
            Assess
        </button>
    </li>
</ul>

<div class="tab-content" id="play-tabContent">
    <div class="tab-pane fade show active" id="listen-tab-pane" role="tabpanel"
         aria-labelledby="listen-tab" tabindex="0">

        <div class="card mb-2">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-body-secondary">Syllable</h6>
                <h5 class="card-title lang-ar" dir="rtl">{{ section.label|wrap_words }}</h5>
                <p class="card-text lang-ar" dir="rtl">
                    {{ section.label }}
                </p>
            </div>
        </div>


        <div class="card mb-2">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-body-secondary">Word example</h6>

                {% if pageblock.initial %}
                <h5 class="card-title lang-ar" dir="rtl">{{ pageblock.initial|wrap_words }}</h5>
                {% endif %}

                {% if pageblock.medial %}
                <h5 class="card-title lang-ar" dir="rtl">{{ pageblock.medial|wrap_words }}</h5>
                {% endif %}

                {% if pageblock.final %}
                <h5 class="card-title lang-ar" dir="rtl">{{ pageblock.final|wrap_words }}</h5>
                {% endif %}
            </div>
        </div>


        <div class="float-box border border-5 border-danger">
        </div>

        <div id="floating"></div>

        <p class="fs-1 d-none" dir="rtl">
            <a href="#"
               class="fw-bold link-body-emphasis link-offset-2 link-underline-opacity-25 link-underline-opacity-75-hover"
               data-bs-toggle="popover"
               data-bs-title="Pronunciation"
               data-bs-content="Test my pronunciation">
                {{ pageblock.text | markdownify }}
            </a>
        </p>

        <span id="transcribe_text" class="d-none">
            {{ pageblock.text | markdownify }}
        </span>

        <div class="d-flex gap-2 flex-row">
            <div class="col text-end">
                <span class="text-secondary">Voice:</span>
                <div class="form-check form-check-reverse">
                    <input class="form-check-input" type="radio"
                           name="radioVoice" id="radioVoiceZariyah"
                           value="Zariyah" checked>
                    <label class="form-check-label" for="radioVoiceZariyah">
                        Zariyah
                    </label>
                </div>
                <div class="form-check form-check-reverse">
                    <input class="form-check-input" type="radio"
                           name="radioVoice" id="radioVoiceHamed"
                           value="Hamed">
                    <label class="form-check-label" for="radioVoiceHamed">
                        Hamed
                    </label>
                </div>
                <div class="form-check form-check-reverse">
                    <input class="form-check-input" type="radio"
                           name="radioVoice" id="radioVoiceHala" value="Hala">
                    <label class="form-check-label" for="radioVoiceHala">
                        <span class="lang-ar">هالة</span> (Hala)
                    </label>
                </div>
                <div class="form-check form-check-reverse">
                    <input class="form-check-input" type="radio"
                           name="radioVoice" id="radioVoiceZayd" value="Zayd">
                    <label class="form-check-label" for="radioVoiceZayd">
                        <span class="lang-ar">زايد</span> (Zayd)
                    </label>
                </div>
            </div>
            <div class="col m-2">
                <audio controls id="absi-audio">
                    <source src="{% url 'audio-view' pageblock.pk %}"
                            type="audio/ogg" />
                    <source src="{% url 'audio-view' pageblock.pk %}?audio_format=mp3"
                            type="audio/mpeg" />
                </audio>
            </div>
        </div>

        <div class="d-grid gap-2 m-2">
            <button type="button"
                    class="btn btn-bd-primary"
                    id="dabke-practice-next-button">
                Next: Practice
            </button>
        </div>

    </div>
    <div class="tab-pane fade" id="practice-tab-pane" role="tabpanel"
         aria-labelledby="practice-tab" tabindex="0">

        <div class="container my-2">
            <div class="row">
                <div class="main-controls p-2 border border-dark rounded">
                    Say this word:

                    {% if pageblock.initial %}
                    <p class="lang-ar" dir="rtl">
                        {{ pageblock.initial|wrap_words }}
                    </p>
                    {% endif %}

                    <canvas class="visualizer inline" height="60"></canvas>

                    <div id="buttons">
                        <button type="button" class="btn btn-bd-primary record">
                            <i class="bi bi-record"></i> Record
                        </button>
                        <button type="button" class="btn btn-secondary stop">
                            <i class="bi bi-stop"></i> Stop
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-grid gap-2 m-2">
            <button type="button" class="btn btn-bd-primary"
                    id="dabke-review-next-button">
                Next: Review
            </button>
        </div>
    </div>
    <div class="tab-pane fade" id="review-tab-pane" role="tabpanel"
         aria-labelledby="review-tab" tabindex="0">
        ...

        <div class="d-grid gap-2 m-2">
            <button type="button" class="btn btn-bd-primary"
                    id="dabke-assess-next-button">
                Get score
            </button>
            <button type="button" class="btn btn-bd-secondary">
                Record again
            </button>
        </div>
    </div>
    <div class="tab-pane fade" id="assess-tab-pane" role="tabpanel"
         aria-labelledby="assess-tab" tabindex="0">
        ...

        <div class="d-grid gap-2 m-2">
            <button type="button" class="btn btn-bd-primary">
                Next syllable
            </button>
            <button type="button" class="btn btn-bd-secondary">
                Try again
            </button>
        </div>
    </div>
</div>

<div id="toast-container-0" class="toast-container position-fixed bottom-0 end-0 p-3">
</div>
